<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://msgpilot.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://msgpilot.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahlha.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahlha.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://violations.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://violations.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vms.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vms.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahlha.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahlha.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.violations.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.violations.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vms.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vms.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahlha.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahlha.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://violations.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://violations.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vms.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vms.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahlha.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahlha.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.violations.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.violations.husban.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vms.husban.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vms.husban.net$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
